@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body {
	background-color: rgb(77, 77, 77);
	padding-top: 25px;
	padding-left:15%;
	padding-right:15%;
	margin:0;
	min-width:920px;
	font-family: 'Nunito', sans-serif;
	color:rgb(230, 230, 230);
}
p{
	padding-top:0;
}
div table{
	margin: auto;
	background-color: rgba(0, 0, 0, 0.05);
}
#menu{
	margin-bottom:2em;
	padding: 0;	
	/*background-color:red;*/
}
#menu-list{
	list-style-type:none;
	margin:0;
	padding:0;
	background-image: linear-gradient(rgb(100,100,100),rgb(120,120,120),rgb(100,100,100));
	display:block;
}
#menu-list:after{
	content:" ";
	display:block;
	height:0;
	clear:both;
}
#top-picture{
	display: block;
}
#shroud{
	width:100%;
	position:fixed;	
	height:10em;
	background-image: linear-gradient(rgba(77,77,77,0),rgba(77,77,77,0.66),rgba(77,77,77,1));
	bottom:0;
	left:0;
}
#last{
	margin-bottom:18em;
}
#style-selection{
	font-family: 'Nunito', sans-serif;	
	max-width:10%;
	font-size:0.8em;
	position:fixed;
	right:0;
	top:40%;
}
#dark-style-button{
	display:none;
}
#white-style-button{	
	background-color:rgb(240,240,240);
	color:black;
	border:none;
	font-family: 'Nunito', sans-serif;	
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#FFFFFF;
  border:none;
  max-width:90%;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.container{
	background-color: rgb(102, 102, 102); 
	box-shadow: 0px 0px 3px 3px rgb(51, 51, 51);
	margin-top:1em;
	margin-bottom:2em;
	padding: 1em;
	border:1px solid rgb(51, 51, 51);
	clear:both;
	/*border: 10px outset lightgray;*/
}
.quote:before{
	content:open-quote;
}
.quote{
	font-style:italic;
	font-family: 'PT Sans', sans-serif;
	margin-bottom:0.5em;
}
.quote:after{
	content:close-quote;
}
.menu-button{
	width:10%;
	min-width:4cm;
	height:2em;	
	display:block;
	text-align:center;	
	float:left;
	clear:right;
	border:1px solid darkgrey;
	background:transparent;
	padding-top: 1em;
	color: white;
	text-decoration:none; 
}
.menu-button:hover{
	width:20%;
	min-width:8cm;
	background:black;
	color: white;
	font-weight: 900;
	font-size:1.2em;
	height:1.75em;
	padding-top:0.75em;
}
.menu-list{
	
}
.menu-texts{
	font-family:'Gugi';
	font-style:normal;	
	text-decoration:initial;
}
.heading{
	padding-top:1px;
	padding-right:5em;
	padding-bottom:1px;
	width: auto;
	float:left;
	clear:all;
	margin-bottom:1em;
}
.table-container{
	width:fit-content;
	margin:auto;
	padding:0;
}
.attributed{
	margin-top:0;
	padding-top:1px;
	padding-left:1em;
	padding-bottom:1px;
	width: auto;
	float:right;
	clear:all;
	font-style:italic;
}
